# App
SECRET_KEY=change-this-to-a-long-random-secret
DEBUG=False
ALLOWED_HOSTS=YOUR_VM_IP,YOUR_DOMAIN
CSRF_TRUSTED_ORIGINS=http://YOUR_VM_IP,https://YOUR_DOMAIN
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOWED_ORIGINS=http://YOUR_VM_IP,https://YOUR_DOMAIN

# Database
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=ngafa_db
POSTGRES_USER=ngafa_user
POSTGRES_PASSWORD=change-strong-password
DB_HOST=db
DB_PORT=5432

# Gunicorn
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
